/* Basic styles for the navbar */
.navbar {
  padding: 1rem;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-brand h1 {
  font-size: 50px;
  font-weight: 600;
  background-image: radial-gradient(circle, #4302f4, #ee992b);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  margin: 0;
  padding: 0;
}

.navbar-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.navbar-brand img[src$="logo1.png"] {
  width: 65px;
  height: auto;
  margin-right: 10px;
}

.navbar-menu li {
  margin: 0 1rem;
}

.navbar-menu a {
  color: rgb(13, 13, 13);
  text-decoration: none;
}

.navbar-menu a.active {
  text-decoration: underline;
}

.navbar-search {
  display: flex;
  align-items: center;

}

.navbar-search input {
  padding: 0.5rem;
  border: solid black 2px;
  border-radius: 4px;
  margin-right: 0.5rem;
}

.navbar-search button {
  padding: 0.5rem 1rem;
  border: black;
  border-radius: 4px;
  background-color: #2a7df1;
  color: rgb(14, 13, 13);
  cursor: pointer;
}

.navbar-search button:hover {
  background-color: #2d2def;
}

/* Responsive styles */
@media (max-width: 768px) {
  .navbar-content {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  .navbar-menu li {
    margin: 0.5rem 0;
  }

  .navbar-search {
    width: 100%;
    margin-top: 1rem;
  }

  .navbar-search input {
    width: 80%;
    margin-right: 0;
  }

  .navbar-search button {
    width: 100%;
  }
}




/* search button */
.form-inline {
  display: flex;
  justify-content: flex-end;
  /* Align items to the right */
  align-items: center;
  /* Center vertically */
}

.form-control {
  margin-left: 217px;
  width: 500px;
}

/* Optional: Adjust margin or padding as needed */
.form-inline .btn {
  margin-left: 10px;
  position: absolute;
  right: 0;
  /* Add some space between input and button */
}

.profile-container {
  margin-left: auto;
  /* Pushes the profile container to the right */
}

.profile-img {
  /* width: 40px; 
    height: 40px; */
  margin-left: 329px;
}

.profile-img :hover {
  background-color: green;
  color: #fff;
}

.navbar-brand img {
  width: 65px;
  /* Adjust width as needed */
  height: auto;
  /* Maintain aspect ratio */
  margin-right: 10px;
  /* Optional: Add some margin if needed */
}

